* {
    font-family: medium-content-serif-font, Georgia, Cambria, "Roboto", Times, serif;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: -.003em;
    word-wrap: break-word;
}

html {
    font-family: sans-serif;
    /*background: #fafafa !important;*/
}

body{
    /*background-color: #fafafa;*/
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

main{
    margin-top: 100px;
    background-color: white;
    margin-bottom: 20px;
}

