@media only screen and (max-width: 320px) {
    .pic img {
        width: 100%;
    }

    #list-social {
        display: none;
    }

    h1 {
        font-size: 20px;
    }

    * {
        font-size: 15px;
    }

    #wrapper h3 {
        font-family: "Acme", serif;
        font-size: 20px;
    }
    .comment textarea {
        width: 100%;
    }
    #cuon {
        display: block;
        width: 30px;
        height: 30px;
        position: fixed;
        bottom: 15px;
        right: 15px;
        border-radius: 5px;
        border: 3px solid #ccc;
        font-size: 15px;
        font-weight: bold;
    }
    .like span {
        font-size: 20px;
        padding-top: 5px;
        margin-left: 10px;
        color: #33CCCC;
    }
}

@media only screen and (max-width: 480px) {
    .pic img {
        width: 100%;
    }

    #list-social {
        display: none;
    }

    h1 {
        font-size: 20px;
    }

    * {
        font-size: 15px;
    }

    #wrapper h3 {
        font-family: "Acme", serif;
        font-size: 20px;
    }

    .comment textarea {
        width: 100%;
    }

    #cuon {
        display: block;
        width: 35px;
        height: 35px;
        position: fixed;
        bottom: 15px;
        right: 15px;
        border-radius: 5px;
        border: 3px solid #ccc;
        font-size: 20px;
        font-weight: bold;
    }

    .like span, .heart span {
        font-size: 20px;
        padding-top: 5px;
        margin-left: 10px;
        color: #33CCCC;
    }
}

@media only screen and (min-width: 760px) {
    .pic img {
        width: 100%;
    }

    #list-social {
        display: none;
    }

    h1 {
        font-size: 20px;
    }

    * {
        font-size: 15px;
    }

    #wrapper h3 {
        font-family: "Acme", serif;
        font-size: 20px;
    }

    .comment textarea {
        width: 100%;
    }

    .like span, .heart span {
        font-size: 20px;
        padding-top: 5px;
        margin-left: 10px;
        color: #33CCCC;
    }
}

@media only screen and (min-width: 992px) {
    .pic img {
        width: 50%;
    }

    h1 {
        font-weight: bold;
        font-family: 'Roboto', serif;
        font-size: 35px;
    }

    #wrapper h3 {
        font-family: "Acme", serif;
        font-size: 35px;
    }

    /*up to head*/
    #cuon {
        display: block;
        width: 40px;
        height: 40px;
        position: fixed;
        bottom: 15px;
        right: 15px;
        border-radius: 10px;
        border: 3px solid #ccc;
    }

    .like span, .heart span {

        font-size: 30px;
        padding-top: 5px;
        margin-left: 10px;
        color: #33CCCC;

    }
}

.read-main{
    margin-bottom: 10px;
    background-color: #FFFFFF;
}

/*avatar*/
.avatar-image--small {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;

}

.avatar-image {
    display: inline-block;
    vertical-align: middle;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

/*noi dung*/

#wrapper .name-user {
    font-size: 13px;
    color: #111111;
    font-weight: 600;
    font-family: sans-serif;
}

#wrapper .reviewer-info {
    font-size: 16px;
}

#wrapper .detail-user {
    font-size: 14px;
    opacity: 0.8;
}

/* hinh anh*/
#wrapper .pic {
    text-align: center;
    margin: 15px 0 auto;
}

/*main- content*/
#wrapper .main-content p, #wrapper .main-content a {
    margin-top: 20px;
}

/* content-review*/
#wrapper .main-content .content-review em {
    font-style: italic;
}

#wrapper .main-content .content-review .note-hight-light {
    background-color: rgba(12, 242, 143, .2);
}

#wrapper .main-content .content-review .note-hight-light:hover {
    background-color: rgba(12, 235, 160, .9);
    cursor: pointer;
}

/*end content-review*/

#wrapper hr.section-divider {
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

hr .comment-divider{
    width: 500px;
}

#wrapper .note h4 {
    font-family: 'Rokkitt', serif;
    font-size: 20px;
    font-weight: bold;
}

/* tag*/

#wrapper .tag li {
    border-radius: 5px;
    background-color: #DDDDDD;
    margin: 10px;
    display: inline;
    padding: 5px;

}

#wrapper .tag li a {
    font-size: 14px;
    line-height: 1px;
    text-decoration: none;
    color: rgba(0, 0, 0, .68);
}

#wrapper .tag li:hover {
    background-color: #777777;
}

#wrapper .tag li:hover a {
    color: white;
    text-decoration: none;
}

/* sociale*/

.like {
    border-radius: 100%;
    background-color: white;
    display: inline;
}

/*.like:hover{
    border: solid 2px #00FFFF ;
}*/

.like, .heart {
    display: inline;
    float: left;
}

.like span {
    font-size: 30px;
    padding-top: 5px;
    margin-left: 10px;
    color: #33CCCC;
}

.like span:hover {
    color: #00FFFF;
}

.qual {
    font-size: 14px;
}

.heart span {
    font-size: 30px;
    padding-top: 5px;
    margin-left: 10px;
    color: #33CCCC;
}

.like span:hover {
    transform: scale(1.5);
    color: #003333;
}

.heart span:hover {
    transform: scale(1.5);
    color: #EE0000;
}

/*comment*/
.comment, .cmt{
    width: 60%;
}

.comment textarea {
    background: #fff;
    padding: 20px 0 0 20px;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.09);
    box-shadow: 0 1px 4px rgba(0,0,0,.03);
}

.cmt h3 {
    font-size: 15px;
    font-family: "Acme", serif;
}

/* lam sao de hinh nhay vao khu comment*/
.comment img, .text-cmt img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.text-cmt {
    margin-top: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border-radius: 3px;
    padding: 5px;
}

.text-cmt .user-name {
    color: #00CC99;
    font-size: 13px;
    margin-left: 5px;
}

.text-cmt .time-cmt {
    font-size: 13px;
}

/*content-bottom*/
.list-item-review, .comment-wrapper {
    background-color: #fafafa;
}

/*rel-car*/
.rel-cat {
    margin: 40px 0;
}

.rel-cat .item-review {
    border-radius: 3px;
    box-shadow: 0 1px 7px rgba(0,0,0,.05);
}

.bac {
    width: 100%;
    height: 100px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, .0785) !important;
    background-position: 50% 50% !important;
    background-origin: border-box !important;
    background-size: cover !important;
}

.rel-cat .sum-cont {
    background-color: white;
}

.sum-cont .content-relate-review {
    font-weight: bold;
    font-size: 20px;
}

.sum-cont .cont-tile-rel-review {
    color: #CCCCCC;
    font-size: 15px;
    font-style: italic;
}

/*end rel-cat*/

.sc {
    font-size: 25px;
    text-align: center;
    padding-top: 4px;
}

/*list-social*/
.list-social {
    position: fixed;
    left: 30px;
    top: 200px;
}

.list-social ul li {
    list-style: none;
}